/**
* override css's
*/
html{
	height: 100%;
}
body{
	position: relative;
	min-height: 100%;
}
.bg-light{
	background-color: #006e87 !important;
}
.margin-top-20{
	margin-top: 20px;
}
.feature-img{
	max-height: 350px;
}

.product-item{
	background: #000000 !important;
}

.child-rows{
	padding-left: 20px;
	border-left: 1px solid #dfdfdf;
	background: #fff;
}
.child-rows a.list-group-item{
	border-left: 0px !important;
}
.list-group-item.active{
	z-index: z;
	color: #fff;
	background-color: #02aadd;
	border-color: #02aadd;
	border-radius: 0px !important;
}
.hidden{
	display: none;
}

.pointer{
	cursor: pointer;
}

/**
* nav bar  css's
*/

.mx-atu, .mr-auto{
	margin-right: auto !important;
	margin-top: 12px;
	margin-bottom: -10px; 
}

.footer-bottom{
	padding: 20px;
	margin-top: 20px;
	background: #262626;
	/*position: absolute;*/
	/*right: 0;*/
	/*left: 0;*/
	/*bottom: 0;*/
	color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active{
	color: #000;
	background: #fff;
	border-radius: 10px;
}


.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
	color: #000;
	background: #fff;
	border-radius: 10px;
}
.search-icon-button{
	background: #FDD922;
	border: 1px solid #FDD922;
	transition: .4s;
}
.search-icon-button:hover{
	background: #FDD922;
	border: 1px solid #FDD922;
	color: #fff;
}
.btn-cart-nav{

}

.btn-cart-nav:hover{
	background: inherit!important;
}
.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	padding-right: 15px;
	margin-right: 5px;
}
